.message-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 70%;
}
.message-item .message-top {
  display: flex;
  justify-content: space-between;
}
.message-item.message-by-current-user {
  background-color: #549d0b;
  align-self: end;
}
.message-item:not(.message-by-current-user) {
  background-color: #1c469d;
}