.home-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.home-page>header {
  padding: 1rem;
}
.home-page form {
  display: flex;
  flex-direction: column;
}
.home-page form button {
  border-radius: 0;
  border: none;
}
.home-page form input {
  padding: 0.5em;
  background-color: #1a1a1a;
  border: 1px solid #555;
}
.messages-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  overflow-y: auto;
  background-color: #1a1a1a;
}
.login-modal {
  border-radius: 1rem;
}
.login-modal::backdrop {
  backdrop-filter: blur(5px);
}