.overview-page {
  >header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1a1a1a;
    .current-user {
      display: flex;
      flex-direction: column;
      align-items: end;
      >button {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        padding: 0;
        cursor: pointer;
        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  .notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    gap: 2rem;
    padding: 2rem;
  }

  .login-dialog {
    border-radius: 1rem;
    border: 1px solid #aaa;
    background-color: #1a1a1a;
    color: #eee;
    >form {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      >input {
        background-color: transparent;
        border: 1px solid #aaa;
        border-radius: 5px;
        color: #eee;
        padding: 0.3rem;
      }
      >button{
        background-color: transparent;
        border: 1px solid #aaa;
        border-radius: 5px;
        color: #eee;
        padding: 0.3rem;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #aaa;
          color: #1a1a1a;
        }
      }
    }
    &::backdrop {
      backdrop-filter: blur(5px);
    }
  }
}